@media screen and (min-width: 2000px) {
  .zagruzka,
  .glavsvet,
  .glavsvet402,
  .play1,
  .play2,
  .play3,
  .play4 {
    width: 100vw;
    height: 56.25vw;
    position: relative;
  }
}
/* ЭТО ГОРИЗОНТАЛЬНЫЙ АЙПАД  1024*/
/* 1024 */
/* 1024 */
/* 1024 */
/* 1024 */
/* 1024 */
/* ГЛАВНЫЙ ЭКРАН СО СВЕТОМ  */
@media screen and (max-width: 1100px) {
  .zagruzka,
  .glavsvet,
  .glavsvet402,
  .play1,
  .play2,
  .play3,
  .play4 {
    width: 100vw;
    height: 75vw;
    position: relative;
  }
  .zagruzka {
    background-size: 100vw 75vw;
  }
  .zagr {
    left: 26.646vw;
    top: 10vw;
  }

  .glavekran {
    width: 100vw;
    height: 75vw;
  }
  .shkafsvet {
    top: 37.6vw;
  }
  .dver402svet {
    top: 34.2vw;
  }
  .dver402temnota {
    top: 34.2vw;
  }
  .dverconsvet {
    top: 34.2vw;
  }
  .dvercontemnota {
    top: 34.2vw;
  }
  .dver404svet {
    top: 34.2vw;
  }
  .dver404temnota {
    top: 34.2vw;
  }

  .mini402 {
    top: 30.5vw;
  }
  .max {
    top: 30.5vw;
  }
  .mini404 {
    top: 30.5vw;
  }

  .t402 {
    top: 30.5vw;
  }
  .t403 {
    top: 30.3vw;
  }
  .t404 {
    top: 30.5vw;
  }
  .r1 {
    top: 7.7vw;
  }
  .rech1 {
    top: 6.7vw;
  }
  .iconklava1 {
    top: 7.5vw;
  }
  /* ИГРА 1 СО ШКАФЧИКАМИ */

  .strelka1 {
    top: 69vw;
  }
  .pustota1024 {
    width: 100vw;
    height: 75vw;
    position: absolute;
  }
  .iphone {
    top: 23.5vw;
    left: 8.5vw;
  }
  .naush {
    top: 23vw;
    left: 2.5vw;
  }
  .getri {
    top: 20vw;
    left: 42vw;
  }
  .points {
    top: 20.5vw;
    left: 61vw;
  }
  .giri {
    top: 24vw;
    left: 79vw;
  }
  .roll {
    top: 49vw;
    left: 3vw;
  }
  .stanley {
    top: 48vw;
    left: 26vw;
  }
  .bag {
    top: 50vw;
    left: 40.5vw;
  }
  .flowers {
    top: 51vw;
    left: 59vw;
  }
  .instax {
    top: 55vw;
    left: 80vw;
  }
  /* двери */
  .dver1-1024,
  #dver21024,
  .dver3-1024,
  .dver4-1024,
  .dver5-1024,
  .dver6-1024,
  .dver7-1024,
  .dver8-1024,
  .dver9-1024,
  .dver10-1024 {
    width: 16.895vw;
    height: 30.078vw;
    position: absolute;
    z-index: 2;
  }
  .dver1,
  #dver2,
  .dver3,
  .dver4,
  .dver5,
  .dver6,
  .dver7,
  .dver8,
  .dver9,
  .dver10 {
    visibility: hidden;
  }
  .dver1-1024 {
    top: 5.5vw;
    left: 1.3vw;
  }
  #dver21024 {
    top: 5.5vw;
    left: 20.3vw;
  }
  .dver3-1024 {
    top: 5.5vw;
    left: 39.3vw;
  }
  .dver4-1024 {
    top: 5.5vw;
    left: 58.5vw;
  }
  .dver5-1024 {
    top: 5.5vw;
    left: 77.5vw;
  }
  .dver6-1024 {
    top: 37.4vw;
    left: 1.3vw;
  }
  .dver7-1024 {
    top: 37.4vw;
    left: 20.3vw;
  }
  .dver8-1024 {
    top: 37.4vw;
    left: 39.3vw;
  }
  .dver9-1024 {
    top: 37.4vw;
    left: 58.3vw;
  }
  .dver10-1024 {
    top: 37.4vw;
    left: 77.5vw;
  }
  #zamochek1024 {
    width: 3.8vw;
    height: 5vw;
    position: absolute;
    top: 19.5vw;
    left: 32vw;
    z-index: 5;
    display: none;
  }
  /* ИГРА 2 ДИКО */
  .gradient {
    height: 75vw;
  }
  /* моделька любимая клавдия */

  .play2Model {
    z-index: 10;
    left: 10vw;
    width: 100vw;
    /* ИСПРАВИТЬ ВЫСОТУ */
    /* height: 100vw; */
    height: 48.097vw;
    position: absolute;
  }
  /* плееры */
  .player1 {
    width: 28vw;
    height: 17vw;
    top: 5vw;
  }
  .player2 {
    width: 28vw;
    height: 17vw;
    top: 30vw;
  }
  .player3 {
    width: 28vw;
    height: 17vw;
    top: 55vw;
  }
  .knpl1 {
    width: 5.5vw;
    height: 6vw;
    top: 15vw;
    left: 23.5vw;
  }
  .knpl2 {
    width: 5.5vw;
    height: 6vw;
    top: 40vw;
    left: 23.5vw;
  }
  .knpl3 {
    width: 5.5vw;
    height: 6vw;
    top: 65.3vw;
    left: 23.5vw;
  }
  .knpa1 {
    width: 5.5vw;
    height: 6vw;
    top: 15vw;
    left: 23.5vw;
  }
  .knpa2 {
    width: 5.5vw;
    height: 6vw;
    top: 40vw;
    left: 23.5vw;
  }
  .knpa3 {
    width: 5.5vw;
    height: 6vw;
    top: 65.3vw;
    left: 23.5vw;
  }
  .strelka2 {
    top: 69vw;
  }
  /*  */
  /*  */
  /*  */
  /*  */
}
