@media screen and (min-width: 2000px) {
  .zagruzka,
  .glavsvet,
  .glavsvet402,
  .play1,
  .play2,
  .play3,
  .play4 {
    width: 100vw;
    height: 56.25vw;
    position: relative;
  }
}

@media screen and (max-width: 1024px) {
  .zagruzka,
  .glavsvet,
  .glavsvet402,
  .play1,
  .play2,
  .play3,
  .play4 {
    width: 100vw;
    height: 75vw;
  }
  .buba {
    background-size: 42vw 52vw;
    width: 42vw;
    height: 52vw;
    top: 9vw;
    left: 32vw;
  }
  .zagruzka {
    background-size: 100vw 75vw;
  }
  .zagr {
    left: 26.646vw;
    top: 10vw;
  }
  /* ГЛАВНЫЙ ЭКРАН ДВЕРИ */
  .glavekran {
    width: 100vw;
    height: 75vw;
  }
  .shkafsvet {
    top: 37.6vw;
  }
  .dver402svet {
    top: 34.2vw;
  }
  .dver402temnota {
    top: 34.2vw;
  }
  .dverconsvet {
    top: 34.2vw;
  }
  .dvercontemnota {
    top: 34.2vw;
  }
  .dver404svet {
    top: 34.2vw;
  }
  .dver404temnota {
    top: 34.2vw;
  }

  .mini402 {
    top: 30.5vw;
  }
  .max {
    top: 30.5vw;
  }
  .mini404 {
    top: 30.5vw;
  }

  .t402 {
    top: 30.5vw;
  }
  .t403 {
    top: 30.3vw;
  }
  .t404 {
    top: 30.5vw;
  }
  .r1 {
    top: 7.7vw;
  }
  .rech1 {
    top: 6.7vw;
  }
  .iconklava1 {
    top: 7.5vw;
  }
  /* ИГРА 1 СО ШКАФЧИКАМИ */
  .pustota {
    display: none;
  }
  .strelka1 {
    top: 69vw;
    z-index: 50;
  }
  .pustota1024 {
    width: 100vw;
    height: 75vw;
    position: absolute;
    display: block;
    z-index: 1;
    visibility: visible;
  }
  .iphone {
    top: 23.5vw;
    left: 8.5vw;
  }
  .naush {
    top: 23vw;
    left: 2.5vw;
  }
  .getri {
    top: 20vw;
    left: 42vw;
  }
  .points {
    top: 20.5vw;
    left: 61vw;
  }
  .giri {
    top: 24vw;
    left: 79vw;
  }
  .roll {
    top: 49vw;
    left: 3vw;
  }
  .stanley {
    top: 48vw;
    left: 26vw;
  }
  .bag {
    top: 50vw;
    left: 40.5vw;
  }
  .flowers {
    top: 51vw;
    left: 59vw;
  }
  .instax {
    top: 55vw;
    left: 80vw;
  }
  /* двери */
  .dver1-1024,
  #dver21024,
  .dver3-1024,
  .dver4-1024,
  .dver5-1024,
  .dver6-1024,
  .dver7-1024,
  .dver8-1024,
  .dver9-1024,
  .dver10-1024 {
    width: 16.895vw;
    height: 30.078vw;
    position: absolute;
    z-index: 3;
    visibility: visible;
  }
  .dver1,
  #dver2,
  .dver3,
  .dver4,
  .dver5,
  .dver6,
  .dver7,
  .dver8,
  .dver9,
  .dver10 {
    visibility: hidden;
  }
  .dver1-1024 {
    top: 5.5vw;
    left: 1.3vw;
  }
  #dver21024 {
    top: 5.5vw;
    left: 20.3vw;
  }
  .dver3-1024 {
    top: 5.5vw;
    left: 39.3vw;
  }
  .dver4-1024 {
    top: 5.5vw;
    left: 58.5vw;
  }
  .dver5-1024 {
    top: 5.5vw;
    left: 77.5vw;
  }
  .dver6-1024 {
    top: 37.4vw;
    left: 1.3vw;
  }
  .dver7-1024 {
    top: 37.4vw;
    left: 20.3vw;
  }
  .dver8-1024 {
    top: 37.4vw;
    left: 39.3vw;
  }
  .dver9-1024 {
    top: 37.4vw;
    left: 58.3vw;
  }
  .dver10-1024 {
    top: 37.4vw;
    left: 77.5vw;
  }
  #zamochek1024 {
    width: 3.8vw;
    height: 5vw;
    position: absolute;
    top: 19.5vw;
    left: 32vw;
    z-index: 5;
    display: none;
  }
  /* ИГРА 2 ДИКО */
  .gradient {
    height: 75vw;
  }
  /* моделька любимая клавдия */

  .play2Model {
    z-index: 10;
    left: 10vw;
    width: 100vw;
    /* ИСПРАВИТЬ ВЫСОТУ */
    /* height: 100vw; */
    height: 48.097vw;
    position: absolute;
  }
  /* плееры */
  .player1 {
    width: 28vw;
    height: 17vw;
    top: 5vw;
  }
  .player2 {
    width: 28vw;
    height: 17vw;
    top: 30vw;
  }
  .player3 {
    width: 28vw;
    height: 17vw;
    top: 55vw;
  }
  .knpl1 {
    width: 5.5vw;
    height: 6vw;
    top: 15vw;
    left: 23.5vw;
  }
  .knpl2 {
    width: 5.5vw;
    height: 6vw;
    top: 40vw;
    left: 23.5vw;
  }
  .knpl3 {
    width: 5.5vw;
    height: 6vw;
    top: 65.3vw;
    left: 23.5vw;
  }
  .knpa1 {
    width: 5.5vw;
    height: 6vw;
    top: 15vw;
    left: 23.5vw;
  }
  .knpa2 {
    width: 5.5vw;
    height: 6vw;
    top: 40vw;
    left: 23.5vw;
  }
  .knpa3 {
    width: 5.5vw;
    height: 6vw;
    top: 65.3vw;
    left: 23.5vw;
  }
  .strelka2 {
    top: 69vw;
  }
  /* 3 ИГРА РИСОВАЛКА */
  .canvas {
    width: 100vw;
    height: 64.16vw;
  }
  .zadnick {
    height: 75vw;
  }
  #drawing {
    height: 64.16vw;
  }

  #seroe {
    top: 20vw;
  }
  #rozovoe {
    top: 30vw;
  }
  #krasnoe {
    top: 40vw;
  }
  #zelenoe {
    top: 50vw;
  }
  .strelka3 {
    top: 69vw;
  }
  #reset {
    top: 57vw;
  }

  .r2 {
    top: 7.5vw;
  }
  .rech2 {
    top: 6vw;
  }
  .iconklava2 {
    top: 7.5vw;
  }
  /* ЭТО КОРОЧЕ ТАНЦЕВАЛЬНЫЙ ЗАЛ 404 */

  .ris0 {
    height: 75vw;
  }
  .banka {
    top: 60vw;
  }
  .strelka4 {
    top: 69vw;
  }
  .iconklava3 {
    top: 49vw;
  }
  .rech3 {
    top: 45vw;
  }
  .r3 {
    top: 45.7vw;
  }
  .anf1,
  .anf2,
  .anf3,
  .anf4,
  .anf5,
  .anf6,
  .anf7,
  .anf8,
  .anf9,
  .anf10 {
    width: 13.713vw;
    height: 23vw;
    top: 53.7vw;
  }
  /* РИСУНОК 1 */
  .ris1,
  .ris2,
  .ris3,
  .ris4,
  .ris5,
  .ris6 {
    height: 75vw;
  }
  .krug1,
  .krug2,
  .krug3,
  .krug4,
  .krug5,
  .krug6,
  .krug7,
  .krug8,
  .krug9,
  .krug10,
  .bublick1,
  .bublick2,
  .bublick3,
  .bublick4,
  .bublick5,
  .bublick6,
  .bublick7,
  .bublick8,
  .bublick9,
  .bublick10,
  .lotos1,
  .lotos2,
  .lotos3,
  .lotos4,
  .lotos5,
  .lotos6,
  .lotos7,
  .lotos8,
  .lotos9,
  .lotos10,
  .swag1,
  .swag2,
  .swag3,
  .swag4,
  .swag5,
  .swag6,
  .swag7,
  .swag8,
  .swag9,
  .swag10,
  .rosa1,
  .rosa2,
  .rosa3,
  .rosa4,
  .rosa5,
  .rosa6,
  .rosa7,
  .rosa8,
  .rosa9,
  .rosa10,
  .sochno1,
  .sochno2,
  .sochno3,
  .sochno4,
  .sochno5,
  .sochno6,
  .sochno7,
  .sochno8,
  .sochno9,
  .sochno10 {
    background-image: url(../images/KRUZHOCHEK1024.svg);
    width: 15vw;
    height: 15vw;
  }
  .krug1 {
    top: 5.7vw;
    left: 49.8vw;
  }
  .krug2 {
    top: 23vw;
    left: 38vw;
  }
  .krug3 {
    top: 23vw;
    left: 61.5vw;
  }
  .krug4 {
    top: 43vw;
    left: 28.8vw;
  }
  .krug5 {
    top: 43vw;
    left: 49.8vw;
  }
  .krug6 {
    top: 43vw;
    left: 70.8vw;
  }
  .krug7 {
    top: 63vw;
    left: 17.5vw;
  }
  .krug8 {
    top: 63vw;
    left: 38vw;
  }
  .krug9 {
    top: 63vw;
    left: 61.5vw;
  }
  .krug10 {
    top: 63vw;
    left: 82vw;
  }
  /* РИСУНОК 2 */

  .bublick1 {
    top: 4.5vw;
    left: 48.8vw;
  }
  .bublick2 {
    top: 22.7vw;
    left: 21vw;
  }
  .bublick3 {
    top: 22.7vw;
    left: 48.8vw;
  }
  .bublick4 {
    top: 22.7vw;
    left: 77.8vw;
  }
  .bublick5 {
    top: 42.9vw;
    left: 21vw;
  }
  .bublick6 {
    top: 42.9vw;
    left: 48.8vw;
  }
  .bublick7 {
    top: 42.9vw;
    left: 77.8vw;
  }
  .bublick8 {
    top: 62.1vw;
    left: 21vw;
  }
  .bublick9 {
    top: 62.1vw;
    left: 48.8vw;
  }
  .bublick10 {
    top: 62.1vw;
    left: 77.8vw;
  }
  /* РИСУНОК 3 */

  .lotos1 {
    top: 4vw;
    left: 82vw;
  }
  .lotos2 {
    top: 24.7vw;
    left: 82vw;
  }
  .lotos3 {
    top: 44.7vw;
    left: 82vw;
  }
  .lotos4 {
    top: 64.7vw;
    left: 82vw;
  }
  .lotos5 {
    top: 24.7vw;
    left: 60vw;
  }
  .lotos6 {
    top: 44.7vw;
    left: 60vw;
  }
  .lotos7 {
    top: 64.7vw;
    left: 60vw;
  }
  .lotos8 {
    top: 44.7vw;
    left: 38vw;
  }
  .lotos9 {
    top: 64.7vw;
    left: 38vw;
  }
  .lotos10 {
    top: 64.7vw;
    left: 16vw;
  }
  /* РИСУНОК 4 */
  .swag1 {
    top: 67.5vw;
    left: 15vw;
  }
  .swag2 {
    top: 50.5vw;
    left: 18.7vw;
  }
  .swag3 {
    top: 34.5vw;
    left: 23.5vw;
  }
  .swag4 {
    top: 18.9vw;
    left: 31.4vw;
  }
  .swag5 {
    top: 5.2vw;
    left: 41.1vw;
  }
  .swag6 {
    top: 5.2vw;
    left: 54.1vw;
  }
  .swag7 {
    top: 18.9vw;
    left: 64.4vw;
  }
  .swag8 {
    top: 34.5vw;
    left: 72vw;
  }
  .swag9 {
    top: 50.5vw;
    left: 76.7vw;
  }
  .swag10 {
    top: 67.5vw;
    left: 80.7vw;
  }
  .krugi4 {
    top: -2vw;
    left: 1vw;
  }
  /* РИСУНОК 5 */

  .rosa1 {
    top: 64.5vw;
    left: 38.3vw;
  }
  .rosa2 {
    top: 55.2vw;
    left: 22vw;
  }
  .rosa3 {
    top: 35.7vw;
    left: 15.3vw;
  }
  .rosa4 {
    top: 17.2vw;
    left: 19.2vw;
  }
  .rosa5 {
    top: 4.3vw;
    left: 35.1vw;
  }
  .rosa6 {
    top: 4.306vw;
    left: 57.8vw;
  }
  .rosa7 {
    top: 17.2vw;
    left: 74.4vw;
  }
  .rosa8 {
    top: 35.4vw;
    left: 78.3vw;
  }
  .rosa9 {
    top: 53.8vw;
    left: 73.457vw;
  }
  .rosa10 {
    top: 64.7vw;
    left: 57.9vw;
  }
  /* РИСУНОК 6 */

  .sochno1 {
    top: 14.2vw;
    left: 14.5vw;
  }
  .sochno2 {
    top: 14.2vw;
    left: 31.5vw;
  }
  .sochno3 {
    top: 14.2vw;
    left: 48.5vw;
  }
  .sochno4 {
    top: 14.2vw;
    left: 65.5vw;
  }
  .sochno5 {
    top: 14.2vw;
    left: 82.5vw;
  }
  .sochno6 {
    top: 50.2vw;
    left: 14.5vw;
  }
  .sochno7 {
    top: 50.2vw;
    left: 31.5vw;
  }
  .sochno8 {
    top: 50.2vw;
    left: 48.5vw;
  }
  .sochno9 {
    top: 50.2vw;
    left: 65.5vw;
  }
  .sochno10 {
    top: 50.2vw;
    left: 82.5vw;
  }
}
@media screen and (max-width: 800px) {
  .zagruzka,
  .glavsvet,
  .glavsvet402,
  .play1,
  .play2,
  .play3,
  .play4 {
    width: 100vw;
    height: 133.856vw;
  }
  .buba {
    background-size: 52vw 62vw;
    width: 52vw;
    height: 62vw;
    top: 34vw;
    left: 25vw;
  }
  .zagruzka {
    background-size: 100vw 133.856vw;
  }
  .zagr {
    width: 65vw;
    height: 65vw;
    left: 18.646vw;
    top: 33vw;
  }
  /* ГЛАВНЫЙ ЭКРАН ДВЕРИ */
  .glavsvet {
    display: none;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .glavekran {
    width: 155.99vw;
    height: 133vw;
  }
  .shkafsvet {
    width: 23.27vw;
    height: 52.854vw;
    top: 71.875vw;
    left: -5.557vw;
  }
  .dver402svet {
    width: 30.767vw;
    height: 53.51vw;
    top: 69.7vw;
    left: 28.125vw;
  }
  .dver402temnota {
    width: 30.767vw;
    height: 53.51vw;
    top: 69.7vw;
    left: 28.125vw;
  }
  .dverconsvet {
    width: 42vw;
    height: 59.51vw;
    left: 67.451vw;
    top: 66.7vw;
  }
  .dvercontemnota {
    width: 42vw;
    height: 59.51vw;
    left: 67.451vw;
    top: 66.7vw;
  }
  .dver404svet {
    width: 30.767vw;
    height: 53.51vw;
    top: 69.7vw;
    left: 119.085vw;
  }
  .dver404temnota {
    width: 30.767vw;
    height: 53.51vw;
    top: 69.7vw;
    left: 119.085vw;
  }

  .mini402 {
    top: 30.5vw;
  }
  .max {
    top: 30.5vw;
  }
  .mini404 {
    top: 30.5vw;
  }

  .t402 {
    top: 30.5vw;
  }
  .t403 {
    top: 30.3vw;
  }
  .t404 {
    top: 30.5vw;
  }
  .r1 {
    top: 7.7vw;
  }
  .rech1 {
    top: 6.7vw;
  }
  .iconklava1 {
    width: 14.063vw;
    height: 14.063vw;
    left: 2.734vw;
    top: 3.516vw;
  }
}
@media screen and (max-width: 500px) {
}
