@font-face {
  font-family: 'LT Remark';
  src: local('LT Remark - Bold3'), local('LT Remark - Bold3'),
    url('../fonts/LT\ Remark\ -\ Bold3.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: 'SF Pro';
  src: local('SF Pro'), local('SF-Pro'),
    url('../fonts/SF-Pro.ttf') format('truetype');
}
