body {
  background-color: #ffe4e4;
  cursor: url(../images/cursor.svg) 0 0, auto;
}
/* ЗАГРУЗОЧНЫЙ ЭКРАН */
.zagruzka,
.glavsvet,
.glavsvet402,
.play1,
.play2,
.play3,
.play4 {
  width: 100vw;
  height: 56.223vw;
  position: relative;
}

.zagruzka {
  background: radial-gradient(circle, #ff9bba, #ffbacf, #fff6f9, #ffffff);
  background-size: 100vw 56.223vw;
  animation: gradient 5s ease infinite;
}

.zagr {
  position: relative;
  width: 52vw;
  height: 52vw;
  left: 23.646vw;
  top: 1.757vw;
}

/* ГЛАВНЫЙ ЭКРАН СО СВЕТОМ  */
.glavsvet {
  display: none;
}
.glavekran {
  width: 100vw;
  height: 56.223vw;
}

.iconklava1 {
  height: 7.5vw;
  width: 7.5vw;
  top: 3.5vw;
  left: 1.5vw;
  position: absolute;
}

.shkafsvet {
  width: 7.708vw;
  height: 32.5vw;
  top: 20.6vw;
  left: -0.1vw;
  position: absolute;
}
.dver402svet {
  width: 19.236vw;
  height: 35.417vw;
  top: 16.7vw;
  left: 17vw;
  position: absolute;
}
.dver402temnota {
  width: 19.236vw;
  height: 35.417vw;
  top: 16.7vw;
  left: 17vw;
  position: absolute;
}
.dverconsvet {
  width: 27.847vw;
  height: 35.417vw;
  top: 16.7vw;
  left: 42vw;
  position: absolute;
}
.dvercontemnota {
  width: 27.847vw;
  height: 35.417vw;
  top: 16.7vw;
  left: 42vw;
  position: absolute;
}
.dver404svet {
  width: 19.236vw;
  height: 35.417vw;
  top: 16.7vw;
  left: 76vw;
  position: absolute;
}
.dver404temnota {
  width: 19.236vw;
  height: 35.417vw;
  top: 16.7vw;
  left: 76vw;
  position: absolute;
}
.rech1 {
  width: 46.042vw;
  height: 8.653vw;
  top: 2.5vw;
  left: 8.5vw;
  position: absolute;
}
.mini402 {
  width: 7.778vw;
  height: 2.778vw;
  top: 12.5vw;
  left: 23vw;
  position: absolute;
}
.max {
  width: 20.903vw;
  height: 2.778vw;
  top: 12.5vw;
  left: 45vw;
  position: absolute;
}
.mini404 {
  width: 7.778vw;
  height: 2.778vw;
  top: 12.5vw;
  left: 82vw;
  position: absolute;
}
.r1 {
  font-family: 'SF Pro';
  font-size: 2.083vw;
  position: absolute;
  line-height: 120%;
  top: 3.7vw;
  left: 11.5vw;
  color: #fff6f9;
}
.rech1,
.r1 {
  display: none;
}
.t402 {
  font-family: 'LT Remark';
  font-size: 2.431vw;
  position: absolute;
  line-height: 120%;
  top: 12.5vw;
  left: 24.9vw;
  color: #fff6f9;
}
.t403 {
  font-family: 'LT Remark';
  font-size: 2.431vw;
  position: absolute;
  line-height: 120%;
  top: 12.3vw;
  left: 47vw;
  color: #fff6f9;
}
.t404 {
  font-family: 'LT Remark';
  font-size: 2.431vw;
  position: absolute;
  line-height: 120%;
  top: 12.5vw;
  left: 83.9vw;
  color: #fff6f9;
}
/* ИГРА 1 СО ШКАФЧИКАМИ */
.pustota {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
}
.strelka1 {
  width: 4.861vw;
  height: 4.167vw;
  position: absolute;
  top: 49.7vw;
  left: 92.5vw;
}
#zamochek {
  width: 2.8vw;
  height: 4vw;
  position: absolute;
  top: 15vw;
  left: 28vw;
  z-index: 1;
  display: none;
}

.iphone {
  position: absolute;
  width: 6.206vw;
  height: 11.23vw;
  top: 16.5vw;
  left: 5.5vw;
  z-index: 1;
}
.naush {
  position: absolute;
  width: 12.083vw;
  height: 12.083vw;
  top: 16vw;
  left: 0.5vw;
  z-index: 1;
}
.getri {
  position: absolute;
  width: 12.642vw;
  height: 14.556vw;
  top: 13vw;
  left: 38vw;
  z-index: 1;
}
.points {
  position: absolute;
  width: 11.897vw;
  height: 14.306vw;
  top: 13.5vw;
  left: 57vw;
  z-index: 1;
}
.giri {
  position: absolute;
  width: 12.9vw;
  height: 10.833vw;
  top: 17vw;
  left: 76vw;
  z-index: 1;
}
.roll {
  position: absolute;
  width: 13.167vw;
  height: 19.153vw;
  top: 37vw;
  left: 0vw;
  z-index: 1;
}
.stanley {
  position: absolute;
  width: 8.812vw;
  height: 19.028vw;
  top: 36vw;
  left: 21vw;
  z-index: 1;
}
.bag {
  position: absolute;
  width: 15.054vw;
  height: 16.806vw;
  top: 38vw;
  left: 35.5vw;
  z-index: 1;
}
.flowers {
  position: absolute;
  width: 15.603vw;
  height: 15.389vw;
  top: 40vw;
  left: 54.5vw;
  z-index: 1;
}
.instax {
  position: absolute;
  width: 11.369vw;
  height: 11.736vw;
  top: 43vw;
  left: 76vw;
  z-index: 1;
}

/* двери */
.dver1 {
  position: absolute;
  z-index: 2;
  width: 19.5vw;
  height: 25.6vw;
  top: 2.7vw;
  left: -5.1vw;
}
#dver2 {
  position: absolute;
  z-index: 0;
  width: 19.5vw;
  height: 25.6vw;
  top: 2.7vw;
  left: 14.2vw;
}
.dver3 {
  position: absolute;
  z-index: 2;
  width: 19.5vw;
  height: 25.6vw;
  top: 2.7vw;
  left: 33.3vw;
}
.dver4 {
  position: absolute;
  z-index: 2;
  width: 19.5vw;
  height: 25.6vw;
  top: 2.7vw;
  left: 52.6vw;
}
.dver5 {
  position: absolute;
  z-index: 2;
  width: 19.5vw;
  height: 25.6vw;
  top: 2.7vw;
  left: 71.7vw;
}
.dver6 {
  position: absolute;
  z-index: 2;
  width: 19.5vw;
  height: 25.6vw;
  top: 29.8vw;
  left: -5.1vw;
}
.dver7 {
  position: absolute;
  z-index: 2;
  width: 19.5vw;
  height: 25.6vw;
  top: 29.8vw;
  left: 14.2vw;
}
.dver8 {
  position: absolute;
  z-index: 2;
  width: 19.5vw;
  height: 25.6vw;
  top: 29.8vw;
  left: 33.3vw;
}
.dver9 {
  position: absolute;
  z-index: 2;
  width: 19.5vw;
  height: 25.6vw;
  top: 29.8vw;
  left: 52.6vw;
}
.dver10 {
  position: absolute;
  z-index: 2;
  width: 19.5vw;
  height: 25.6vw;
  top: 29.8vw;
  left: 71.7vw;
}
/* ИГРА 2 ДИКО */
.gradient {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
}
/* моделька любимая клавдия */

.play2Model {
  z-index: 10;
  left: 10vw;
  width: 100vw;
  height: 100vw;
  position: absolute;
}
/* плееры */
.player1 {
  width: 26vw;
  height: 15vw;
  position: absolute;
  top: 1.8vw;
  left: 2.5vw;
  z-index: 10;
}
.player2 {
  width: 26vw;
  height: 15vw;
  position: absolute;
  top: 20.3vw;
  left: 2.5vw;
  z-index: 10;
}
.player3 {
  width: 26vw;
  height: 15vw;
  position: absolute;
  top: 39vw;
  left: 2.5vw;
  z-index: 10;
}
.knpl1 {
  width: 4.5vw;
  height: 5vw;
  position: absolute;
  top: 10.4vw;
  left: 22.5vw;
  z-index: 10;
}
.knpl2 {
  width: 4.5vw;
  height: 5vw;
  position: absolute;
  top: 28.8vw;
  left: 22.5vw;
  z-index: 10;
}
.knpl3 {
  width: 4.5vw;
  height: 5vw;
  position: absolute;
  top: 47.8vw;
  left: 22.5vw;
  z-index: 10;
}
.knpa1 {
  width: 4vw;
  height: 4.5vw;
  position: absolute;
  top: 10.4vw;
  left: 22.5vw;
  z-index: 10;
  display: none;
}
.knpa2 {
  width: 4vw;
  height: 4.5vw;
  position: absolute;
  top: 28.8vw;
  left: 22.5vw;
  z-index: 10;
  display: none;
}
.knpa3 {
  width: 4vw;
  height: 4.5vw;
  position: absolute;
  top: 47.8vw;
  left: 22.5vw;
  z-index: 10;
  display: none;
}
.strelka2 {
  width: 4.861vw;
  height: 4.167vw;
  position: absolute;
  top: 49.7vw;
  left: 92.5vw;
  z-index: 15;
}
/*  */
/*  */
/*  */
/*  */
/* 3 ИГРА РИСОВАЛКА */

.play3 {
  position: relative;
  cursor: url('../images/kistochka.svg') 16 32, auto;
}
.zadnick {
  z-index: 2;
  width: 100vw;
  height: 56.223vw;
  position: absolute;
}
#drawing {
  position: absolute;
  width: 100vw;
  height: 48.097vw;
  background-color: #fcf3f3;
  display: block;
  z-index: 3;
}

#seroe {
  width: 5vw;
  height: 5vw;
  position: absolute;
  top: 7vw;
  left: 92.5vw;
  border-radius: 50%;
  background-color: #877177;
  z-index: 15;
}
#rozovoe {
  width: 5vw;
  height: 5vw;
  position: absolute;
  top: 16vw;
  left: 92.5vw;
  border-radius: 50%;
  background-color: #d37995;
  z-index: 15;
}
#krasnoe {
  width: 5vw;
  height: 5vw;
  position: absolute;
  top: 25vw;
  left: 92.5vw;
  border-radius: 50%;
  background-color: #963b50;
  z-index: 15;
}
#zelenoe {
  width: 5vw;
  height: 5vw;
  position: absolute;
  top: 34vw;
  left: 92.5vw;
  border-radius: 50%;
  background-color: #66a865;
  z-index: 15;
}
.strelka3 {
  width: 4.861vw;
  height: 4.167vw;
  position: absolute;
  top: 49.7vw;
  left: 92.5vw;
  z-index: 15;
  cursor: auto;
}
.musor {
  background-image: url(../images/musor.svg);
  background-repeat: no-repeat;
  width: 5vw;
  height: 6vw;
  position: absolute;
  top: 42vw;
  left: 93vw;
  z-index: 15;
}

.iconklava2 {
  height: 7.5vw;
  width: 7.5vw;
  top: 3.5vw;
  left: 1.5vw;
  position: absolute;
  z-index: 15;
  cursor: auto;
}
.rech2 {
  width: 46.042vw;
  height: 8.653vw;
  top: 2.5vw;
  left: 5vw;
  position: absolute;
  display: none;
  z-index: 15;
}
.r2 {
  font-family: 'SF Pro';
  font-size: 2.083vw;
  position: absolute;
  line-height: 120%;
  top: 4vw;
  left: 12vw;
  color: #fff6f9;
  display: none;
  z-index: 15;
}
/*  */
/*  */
/*  */
/*  */
/* ЭТО КОРОЧЕ ТАНЦЕВАЛЬНЫЙ ЗАЛ 404 */
.ris0 {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
  display: block;
}
.banka {
  width: 5.124vw;
  height: 5.564vw;
  position: absolute;
  top: 42vw;
  left: 92.5vw;
  z-index: 20;
}
.strelka4 {
  width: 4.861vw;
  height: 4.167vw;
  position: absolute;
  top: 49.7vw;
  left: 92.5vw;
  z-index: 15;
}
.iconklava3 {
  height: 7.5vw;
  width: 7.5vw;
  top: 32vw;
  left: 91.3vw;
  position: absolute;
  z-index: 20;
}
.anf1,
.anf2,
.anf3,
.anf4,
.anf5,
.anf6,
.anf7,
.anf8,
.anf9,
.anf10 {
  width: 11.713vw;
  height: 19vw;
  top: 37.7vw;
  left: 2.5vw;
  position: absolute;
  z-index: 25;
}
/* РИСУНОК 1 */
.ris1 {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
  display: none;
  z-index: 5;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.ris11 {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
  opacity: 50%;
  z-index: 50;
}
.vibe1 {
  width: 120vw;
  height: 120vw;
  position: absolute;
  animation: move1 12s infinite ease-in-out;
  z-index: 50;
}
.vibe2 {
  width: 150vw;
  height: 140vw;
  position: absolute;
  animation: move2 14s infinite ease-in-out;
  z-index: 50;
}
.vibe3 {
  width: 150vw;
  height: 150vw;
  position: absolute;
  animation: move3 16s infinite ease-in-out;
  z-index: 50;
}
.vibe4 {
  width: 200vw;
  height: 200vw;
  position: absolute;
  animation: move4 18s infinite ease-in-out;
  z-index: 50;
}
.vibe5 {
  width: 200vw;
  height: 200vw;
  position: absolute;
  animation: move5 20s infinite ease-in-out;
  z-index: 50;
}
.vibe6 {
  width: 200vw;
  height: 200vw;
  position: absolute;
  animation: move6 22s infinite ease-in-out;
  z-index: 50;
}
.vibe7 {
  width: 200vw;
  height: 200vw;
  position: absolute;
  animation: move7 24s infinite ease-in-out;
  z-index: 50;
}
.krug1 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 5.7vw;
  left: 47.8vw;
  position: absolute;
}
.krug2 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 17.4vw;
  left: 36vw;
  position: absolute;
}
.krug3 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 17.4vw;
  left: 59.5vw;
  position: absolute;
}
.krug4 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 31.5vw;
  left: 26.8vw;
  position: absolute;
}
.krug5 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 31.5vw;
  left: 47.8vw;
  position: absolute;
}
.krug6 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 31.5vw;
  left: 68.8vw;
  position: absolute;
}
.krug7 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 45vw;
  left: 15.5vw;
  position: absolute;
}
.krug8 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 45vw;
  left: 36vw;
  position: absolute;
}
.krug9 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 45vw;
  left: 59.5vw;
  position: absolute;
}
.krug10 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 45vw;
  left: 80vw;
  position: absolute;
}
/* РИСУНОК 2 */
.ris2 {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
  display: none;
  z-index: 5;
  overflow: hidden;
  background-color: #d9e4db;
}
.ris22 {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
  opacity: 50%;
  z-index: 50;
}
.hype1 {
  width: 120vw;
  height: 120vw;
  position: absolute;
  animation: move12 12s infinite ease-in-out;
  z-index: 50;
}
.hype2 {
  width: 150vw;
  height: 140vw;
  position: absolute;
  animation: move22 14s infinite ease-in-out;
  z-index: 50;
}
.hype3 {
  width: 200vw;
  height: 200vw;
  position: absolute;
  animation: move32 16s infinite ease-in-out;
  z-index: 50;
}
.hype4 {
  width: 100vw;
  height: 100vw;
  position: absolute;
  animation: move42 18s infinite ease-in-out;
  z-index: 50;
}
.hype5 {
  width: 200vw;
  height: 200vw;
  position: absolute;
  animation: move52 20s infinite ease-in-out;
  z-index: 52;
}

.bublick1 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 4.5vw;
  left: 47.8vw;
  position: absolute;
}
.bublick2 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 18.7vw;
  left: 20vw;
  position: absolute;
}
.bublick3 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 18.7vw;
  left: 47.8vw;
  position: absolute;
}
.bublick4 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 18.7vw;
  left: 76.8vw;
  position: absolute;
}
.bublick5 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 32.9vw;
  left: 20vw;
  position: absolute;
}
.bublick6 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 32.9vw;
  left: 47.8vw;
  position: absolute;
}
.bublick7 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 32.9vw;
  left: 76.8vw;
  position: absolute;
}
.bublick8 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 47.1vw;
  left: 20vw;
  position: absolute;
}
.bublick9 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 47.1vw;
  left: 47.8vw;
  position: absolute;
}
.bublick10 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 47.1vw;
  left: 76.8vw;
  position: absolute;
}
/* РИСУНОК 3 */
.ris3 {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
  display: none;
  z-index: 5;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.ris33 {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
  opacity: 50%;
  z-index: 50;
}
.sigma1 {
  width: 130vw;
  height: 130vw;
  top: -30vw;
  left: -5vw;
  position: absolute;
  animation: move13 12s infinite ease-in-out;
  z-index: 50;
}
.sigma2 {
  width: 150vw;
  height: 140vw;
  position: absolute;
  animation: move23 14s infinite ease-in-out;
  z-index: 50;
}
.sigma3 {
  width: 150vw;
  height: 150vw;
  top: -50vw;
  left: -20vw;
  position: absolute;
  animation: move33 16s infinite ease-in-out;
  z-index: 50;
}
.sigma4 {
  width: 150vw;
  height: 150vw;
  top: -30vw;
  left: 20vw;
  position: absolute;
  animation: move43 18s infinite ease-in-out;
  z-index: 50;
}
.sigma5 {
  width: 140vw;
  height: 140vw;
  top: -20vw;
  left: -50vw;
  position: absolute;
  animation: move53 20s infinite ease-in-out;
  z-index: 50;
}

.lotos1 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 6.7vw;
  left: 81vw;
  position: absolute;
}
.lotos2 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 19.7vw;
  left: 81vw;
  position: absolute;
}
.lotos3 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 32.7vw;
  left: 81vw;
  position: absolute;
}
.lotos4 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 45.7vw;
  left: 81vw;
  position: absolute;
}
.lotos5 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 19.7vw;
  left: 59vw;
  position: absolute;
}
.lotos6 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 32.7vw;
  left: 59vw;
  position: absolute;
}
.lotos7 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 45.7vw;
  left: 59vw;
  position: absolute;
}
.lotos8 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 32.7vw;
  left: 37vw;
  position: absolute;
}
.lotos9 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  top: 45.7vw;
  left: 37vw;
  position: absolute;
}
.lotos10 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 45.7vw;
  left: 15vw;
  position: absolute;
}
/* РИСУНОК 4 */
.ris4 {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
  display: none;
  z-index: 5;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.ris44 {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
  opacity: 50%;
  z-index: 50;
}
.skuf1 {
  width: 130vw;
  height: 130vw;
  top: -30vw;
  left: -5vw;
  position: absolute;
  animation: move13 12s infinite ease-in-out;
  z-index: 50;
}
.skuf2 {
  width: 150vw;
  height: 140vw;
  position: absolute;
  animation: move23 14s infinite ease-in-out;
  z-index: 50;
}
.skuf3 {
  width: 150vw;
  height: 150vw;
  top: -50vw;
  left: -20vw;
  position: absolute;
  animation: move33 16s infinite ease-in-out;
  z-index: 50;
}
.skuf4 {
  width: 150vw;
  height: 150vw;
  top: -30vw;
  left: 20vw;
  position: absolute;
  animation: move43 18s infinite ease-in-out;
  z-index: 50;
}
.skuf5 {
  width: 140vw;
  height: 140vw;
  top: -20vw;
  left: -50vw;
  position: absolute;
  animation: move53 20s infinite ease-in-out;
  z-index: 50;
}

.swag1 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 43.5vw;
  left: 15vw;
  position: absolute;
}
.swag2 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 33.5vw;
  left: 18.7vw;
  position: absolute;
}
.swag3 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 23.5vw;
  left: 23.5vw;
  position: absolute;
}
.swag4 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 13.9vw;
  left: 31.4vw;
  position: absolute;
}
.swag5 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 8.2vw;
  left: 41.1vw;
  position: absolute;
}
.swag6 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 8.2vw;
  left: 54.1vw;
  position: absolute;
}
.swag7 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 13.9vw;
  left: 64.4vw;
  position: absolute;
}
.swag8 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 23.5vw;
  left: 72vw;
  position: absolute;
}
.swag9 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  top: 33.5vw;
  left: 76.7vw;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  position: absolute;
}
.swag10 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  top: 43.5vw;
  left: 80.7vw;
  background-repeat: no-repeat;
  position: absolute;
}
.krugi4 {
  position: absolute;
  top: -2vw;
  left: 2vw;
}
/* РИСУНОК 5 */
.ris5 {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
  display: none;
  z-index: 5;
  overflow: hidden;
  background-color: rgb(255, 238, 238);
}
.ris55 {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
  opacity: 50%;
  z-index: 50;
}
.cringe1 {
  width: 130vw;
  height: 130vw;
  top: -30vw;
  left: -5vw;
  position: absolute;
  animation: move13 12s infinite ease-in-out;
  z-index: 50;
}
.cringe2 {
  width: 150vw;
  height: 140vw;
  position: absolute;
  animation: move23 14s infinite ease-in-out;
  z-index: 50;
}
.cringe3 {
  width: 150vw;
  height: 150vw;
  top: -50vw;
  left: -20vw;
  position: absolute;
  animation: move33 16s infinite ease-in-out;
  z-index: 50;
}
.cringe4 {
  width: 150vw;
  height: 150vw;
  top: -50vw;
  left: -10vw;
  position: absolute;
  animation: move43 18s infinite ease-in-out;
  z-index: 50;
}
.cringe5 {
  width: 140vw;
  height: 140vw;
  top: -20vw;
  left: -50vw;
  position: absolute;
  animation: move53 20s infinite ease-in-out;
  z-index: 50;
}

.rosa1 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 46vw;
  left: 41.4vw;
  position: absolute;
}
.rosa2 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 40vw;
  left: 29vw;
  position: absolute;
}
.rosa3 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 27vw;
  left: 24.2vw;
  position: absolute;
}
.rosa4 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 14.2vw;
  left: 27vw;
  position: absolute;
}
.rosa5 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 5.7vw;
  left: 38.9vw;
  position: absolute;
}
.rosa6 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 5.6vw;
  left: 56.1vw;
  position: absolute;
}
.rosa7 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 14.4vw;
  left: 68.4vw;
  position: absolute;
}
.rosa8 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 26.5vw;
  left: 71.3vw;
  position: absolute;
}
.rosa9 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  top: 39vw;
  left: 67.7vw;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  position: absolute;
}
.rosa10 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  top: 46.5vw;
  left: 56.2vw;
  background-repeat: no-repeat;
  position: absolute;
}
/* РИСУНОК 6 */
.ris6 {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
  display: none;
  z-index: 5;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.ris66 {
  width: 100vw;
  height: 56.223vw;
  position: absolute;
  opacity: 50%;
  z-index: 50;
}
.toxic1 {
  width: 130vw;
  height: 130vw;
  top: -30vw;
  left: -5vw;
  position: absolute;
  animation: move13 12s infinite ease-in-out;
  z-index: 50;
}
.toxic2 {
  width: 150vw;
  height: 140vw;
  position: absolute;
  animation: move23 14s infinite ease-in-out;
  z-index: 50;
}
.toxic3 {
  width: 150vw;
  height: 150vw;
  top: -50vw;
  left: -20vw;
  position: absolute;
  animation: move33 16s infinite ease-in-out;
  z-index: 50;
}
.toxic4 {
  width: 150vw;
  height: 150vw;
  top: -50vw;
  left: -10vw;
  position: absolute;
  animation: move43 18s infinite ease-in-out;
  z-index: 50;
}
.toxic5 {
  width: 140vw;
  height: 140vw;
  top: -20vw;
  left: -50vw;
  position: absolute;
  animation: move53 20s infinite ease-in-out;
  z-index: 50;
}

.sochno1 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 14.2vw;
  left: 14.5vw;
  position: absolute;
}
.sochno2 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 14.2vw;
  left: 31.5vw;
  position: absolute;
}
.sochno3 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 14.2vw;
  left: 48.5vw;
  position: absolute;
}
.sochno4 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 14.2vw;
  left: 65.5vw;
  position: absolute;
}
.sochno5 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 14.2vw;
  left: 82.5vw;
  position: absolute;
}
.sochno6 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 37.2vw;
  left: 14.5vw;
  position: absolute;
}
.sochno7 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 37.2vw;
  left: 31.5vw;
  position: absolute;
}
.sochno8 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  background-repeat: no-repeat;
  top: 37.2vw;
  left: 48.5vw;
  position: absolute;
}
.sochno9 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  top: 37.2vw;
  left: 65.5vw;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  position: absolute;
}
.sochno10 {
  background-image: url(../images/KRUZHOCHEK.svg);
  width: 5.49vw;
  height: 5.49vw;
  z-index: 100;
  top: 37.2vw;
  left: 82.5vw;
  background-repeat: no-repeat;
  position: absolute;
}
/*  */
/*  */
/*  */
/*  */
/* ПОДВАЛ */
.game {
  width: 80vw;
  height: 21vw;
  /* border-bottom: 0.5vw solid #861d38; */
  background-color: #fcf3f3;
  margin: auto;
  display: none;
}

#klava {
  width: 10vw;
  height: 13vw;
  background-image: url(../images/bug.png);
  background-size: 10vw 13vw;
  background-repeat: no-repeat;
  position: absolute;
  top: 8vw;
  left: 20vw;
  display: none;
}

#kamen {
  width: 4vw;
  height: 4vw;
  background-image: url(../images/kamen.png);
  background-size: 4vw 4vw;
  background-repeat: no-repeat;
  position: relative;
  top: 16vw;
  left: 95vw;
  animation: kamenmove 1.5s infinite linear;
  display: none;
}

@keyframes kamenmove {
  0% {
    left: 95vw;
  }
  100% {
    left: -5vw;
  }
}

.jump {
  animation: jump 0.5s linear;
}

@keyframes jump {
  0% {
    top: 8vw;
  }
  30% {
    top: 5vw;
  }
  50% {
    top: 3vw;
  }
  80% {
    top: 5vw;
  }
  100% {
    top: 8vw;
  }
}

#score {
  position: absolute;
  top: 0vw;
  left: 10vw;
  font-size: 6vw;
  font-family: Arial, sans-serif;
  color: #861d38;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}
